body {
    position: absolute;
    top:0;
    padding: 0;
    width: 100%;
    padding-top: 80px;
    background-image: url(/img/background.png);
    background-attachment: fixed;
    background-size: cover;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
   
}
.clearfix{
    clear: both;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1130px;
    margin: auto;
}

.navbar {    
    position: relative;    
    padding: 0;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease;
}

a.navbar-brand {
    margin: 0;
    padding: 0;
}

img.top-logo {
    margin: 5px;    
    width: 80px;
}

.navbar-toggler{
    margin-right:10px;
}
.navbar-toggler-icon {    
    width: 40px;
    height: 40px;
}

.nav-item a h3 {
    font-weight: 700;
    margin: 0;
    color: white;
}

.navbar .navbar-nav {
    margin: 0;
    padding: 0;
    display: inline-block;    
    margin-right: 100px;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
    font-weight: 700;
    line-height: 80px;
    margin-right: 5px;
    transition: 0.5s ease;
}

.navbar .navbar-nav .nav-item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}

.navbar .navbar-nav .nav-item a {
    text-decoration: none;
    color: inherit;
}

.navbar .logo {
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5%;
    width: 70px;
    height: 70px;           
    transition: 0.5s ease;
}

.navbar .logo img {
    display: none;
}
.navbar .nav {
    float: right;
    width: calc(100% - 100px);
    margin: 0;
    padding: 0 50px;    
    margin-right: 5%;
    box-sizing: border-box;
}

.navbar .nav .item {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 0;
    font-weight: 700;
    line-height: 40px;
    margin-right: 100px;
    transition: 0.5s ease;
}

.navbar .nav .item a {
    text-decoration: none;
}

.navbar .logo {   
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    width: 100px;    
    transition: 0.5s ease;
}

.navbar .logo img {
    max-width: 100%;
} 

.scrolled {
    transition: 0.5s ease;
}

.scrolled.navbar {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.scrolled.navbar .navbar-nav .nav-item {
    line-height: 40px;
    transition: 0.5s ease;
}

.scrolled.navbar .navbar-nav .nav-item .contact {
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s ease;
}
.scrolled.navbar .logo {
    float: left;
    margin-top: 0;
    margin-left: 0;
    width: 50px;
    height: 50px;
    transition: 0.5s ease;
}

#top {
    width: 50px;
    height: 50px;
    z-index: 20;
    position: fixed;
    right: 50px;
    bottom: 10px;
}

#box {
    width: 100px;
    height: 120px;    
    position: absolute;
    top: 0;
}

.main {
    padding-top: 40px;
    max-width: 100%;    
    position: relative;
}

#news::before {
    width: 120px;
    height: 120px;
    background-color: red;
}
.news {
    max-width: 100%;    
    margin-left: 0;
    margin: 50px;
}

.news ul li {
    list-style: none;
}

.swiper-container {
    width: 100%;
    margin-bottom: 80px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 10px;
}
.about{
    margin-bottom: 100px;
}
.about-title {
    color: blue;
    font-size: 25px;
}

.learning{
    margin-bottom: 100px;
}
.learning-title {
    color: blue;
    font-size: 25px;
}

.photo-img {
    width: 25%;
    float: left;
    margin-bottom: 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

.photo-img img {
    width: 100%;
}

.teacher{
    margin-bottom: 100px;
}
.teacher-title {
    color: blue;
    font-size: 25px;
}

.teacher-left {
    float: left;
    width: 70%;
}

.teacher-left ul {
    margin-left: 0;
    list-style: none;
}

.teacher-right {
    float: left;
    width: 20%;
}

.minds{
    margin-bottom: 100px;
}
.minds-title {
    color: blue;
    font-size: 25px;
}

.minds-left {
    float: left;
    width: 50%;
    margin-bottom: 100px;
}

.minds-left-L {
    float: left;
    width: 50%;
}

.minds-left-L h {
    margin-left: 50px;
}

.minds-left-R {
    float: left;
    width: 50%;
}

.minds-right {
    float: left;
    width: 50%;
    margin-bottom: 100px;
}

.minds-right-L {
    float: left;
    width: 50%;
}

.minds-right-R {
    float: left;
    width: 50%;
}

#sales-title::before {
    content: '';
    display: block;
    height: 60px;
}

.sales{
    margin-bottom: 100px;
}
.sales-title {
    color: blue;
    font-size: 25px;
}

.sales-photo-img {
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

.sales-photo-img img{
    height: 160px;
    margin: 0 auto;
}

.results {

    height: 500px;
}

.results-title {
    color: blue;
    font-size: 25px;
}

.results-block {
    margin-bottom: 30px;

}

.photo {
    float: left;
    width: 50%;
}

.results-photo {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.results-photo img {
    width: 100%;
}

.video {
    float: left;
    width: 50%;
}

.results-video {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.results-video iframe {
    width: 100%;
    margin-right: 10px;
}

.footer {
    background-color: gray;
    width: 100%;
    float: right;  
}
.footer-top{
    width: 100%;    
    border-bottom: solid 2px;    
}
.footer-bottom{
    width: 100%;        
    padding-left: 20%;    
}
.icons ul {    
    margin: 10px 13%;
}
.icons ul li {
    display: inline-block;
    list-style: none;
    width: 30px;
    height: 40px;
    margin-left: 5%;    
}
.youtube-film {
    width: 224px!important;
    height: 126px!important;
}

